extends layout 

block content
  .row
    .col-sm-2
    .col-sm-8
      h1= title
      h4 What is Sentiment Analysis?
      p This app uses IBM's Alchemy API to analyze a post's attitude and assign it a value betweem -1 and 1, with one representing a very negative post and 1 representing a very positive post. A least squares regression line (also known as a "line of best fit") for the data is then plotted in order to show trends in the sentiment of posts with the tag "#CapitalOne". The data used below is test data collected on 10/29, not the most current data. This view was included so that, even in the case of the app maxing out it's calls to Alchemy API, users can still see the app's general functionality. 
       
    .col-sm-2
  include trendstest.html



block linkedScripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8")
