.pagination > li > a,
.pagination > li > span {
	background-color: #2c3e50;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	background-color: #1a242f;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #1a242f;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	background-color: #2c3e50;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.pagination > li > a,
.pagination > li > span {
	padding: 6px 9px;
	font-size: 13px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

table.dataTable thead th,
table.dataTable thead td {
	border-bottom: 1px solid #111111;
}

table.dataTable tbody tr:last-child th,
table.dataTable tbody tr:last-child td {
	border-bottom: 1px solid #111111;
}

.table > tbody > tr > td.selected,
.table > tbody > tr > th.selected,
.table > tbody > tr.selected > td,
.table > tbody > tr.selected > th {
	background-color: #b0bed9;
}

.table-hover > tbody > tr > td.selected:hover,
.table-hover > tbody > tr > th.selected:hover,
.table-hover > tbody > tr.selected:hover > td,
.table-hover > tbody > tr:hover > .selected,
.table-hover > tbody > tr.selected:hover > th {
	background-color: #a9b7d1;
}